name: Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: "cloudrunantigravity"
  REGION: "us-central1"
  WIF_PROVIDER: "projects/32845630472/locations/global/workloadIdentityPools/github-actions-pool-v1/providers/github-provider"
  WIF_SERVICE_ACCOUNT: "github-actions-deployer@cloudrunantigravity.iam.gserviceaccount.com"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ env.WIF_PROVIDER }}
        service_account: ${{ env.WIF_SERVICE_ACCOUNT }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init
      working-directory: ./infra

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: ./infra
      env:
        TF_VAR_project_id: ${{ env.PROJECT_ID }}
